* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: auto;
}

main {
  background-color: #E7E7E7;
}

h1 {
  color: #7324C5;
}

h2 {
  color: #513FD1;
}

h1,
h2,
p {
  text-align: center;
  margin: 20px;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
}

em {
  color: #7324C5;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
}

p,
li {
  font-size: 1.5em;
  color: #513FD1;
}

.link__cours {
  font-size: 1.5em;
}

header {
  background-color: white;
  padding: 20px 50px;
}
@media screen and (max-width: 996px) {
  header {
    padding: 20px 20px;
  }
}

.section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.section-content {
  padding: 40px 80px;
}

.anim__container {
  display: flex;
  flex-direction: column-reverse;
}

span {
  color: #f9f8ff;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 996px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar img {
    margin-bottom: 20px;
  }
}
.navbar__link {
  margin-left: 30px;
  color: #513FD1;
  text-decoration: none;
}
@media screen and (max-width: 996px) {
  .navbar__link {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.navbar__link--purple {
  color: #7324C5;
}
.navbar__link-logo {
  margin-left: 30px;
}

.form__group {
  flex-direction: column;
  color: #DD3DFF;
}
.form__group label {
  margin-left: 30px;
}
.form__group input {
  border: 2px solid white;
  border-radius: 100rem;
  color: #7324C5;
  font-size: 2.5rem;
  outline: none;
  padding: 0.5rem 1.5rem;
  width: 100%;
  transition: background-color 1s;
}
.form__group input:focus {
  border: 2px solid #DD3DFF;
}
.form__group input:not(:focus):invalid {
  background-color: #990000;
  border: 2px solid #990000;
  color: white;
}

.btn {
  background: #DD3DFF;
  color: #f9f8ff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  border: 0.2rem solid #f9f8ff;
  margin-top: 40px;
  width: 250px;
}
.btn:hover + .boxes > .boxes--transxScale {
  transform: translateX(200%) scale(2);
}
.btn:hover + .boxes > .boxes--scaleTransx {
  transform: scale(2) translateX(200%);
}

.icon-logo:hover {
  opacity: 0.5;
}

.boxes {
  display: flex;
  flex-direction: column;
}
.boxes__base {
  width: 120px;
  height: 120px;
  color: #f9f8ff;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.boxes--transxScale {
  background: #38761d;
  transition: transform 500ms ease-in-out;
}
.boxes--scaleTransx {
  background: #2769F2;
  transition: transform 500ms ease-in-out;
}

footer {
  background-color: white;
  padding: 20px 50px;
}
@media screen and (max-width: 996px) {
  footer {
    padding: 20px 20px;
  }
}/*# sourceMappingURL=style.css.map */