* {
  margin: 0;
  font-size: 22px;
}
body{
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 1440px;
  margin: auto;
}

main {
  background-color: $color-grey-light;
}

h1 {
  color: $color-primary;
}

h2 {
  color: $color-secondary;
}

h1,
h2,
p {
  margin: 20px;
}

a:hover {
  text-decoration: underline;
}
h1,
h2,
p,
footer {
  @include el-center;
}

p{
  font-weight: 300;
}