body {
  font-family: $font-family-body;
  font-size: 1em;
}

em {
  color: $color-primary;
  font-style: normal;
}

h1 {
  font-size: $font-size-title;
  font-family: $font-family-title;
}

h2 {
  font-size: $font-size-title-h2;
  font-family: $font-family-title;
}

p,
li {
  font-size: 1.5em;
  color: $color-secondary;
}

.link__cours{
  font-size: 1.5em;
}