.btn {
    background: $color-primary-hover;
    color: $color-light;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    border: 0.2rem solid $color-light;
    margin-top: 40px;
    width: 250px;
    &:hover + .boxes {
        & > .boxes--transxScale {
            transform: translateX(200%) scale(2);
        }
        & > .boxes--scaleTransx {
             transform: scale(2) translateX(200%);
        }
    }
}